/* External Style - Kenadi Adams */

body{
    color:#352914;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-image: url(../Assets/Images/Imageforback.webp);
    background-size: 400px;
    
    overflow-x: hidden;
}

/* === Heading 1 Styling === */
h1 {
    color:#312619;
    text-align: center;
    background-color:darkgray;
    padding: 50px;
    margin: -10px -10px 0px -10px;
}



/* Nav Bar Styles */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(175, 195, 223, 0.486);
}

.navbar > li {
    float: left;
}

.navbar a {
    display:block;
    color:rgb(17, 13, 7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Ubuntu Condensed;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #98bb98;
    color:rgb(232, 208, 255);
}

/* Styling Music Table */
table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;

}

/* Styling Table rows */
tr {
    background-color: azure;
    border: 1px solid rgb(1, 20, 27);
}

/* Style table headers and table data */
th, td {
    border: 1px solid rgb(0, 23, 29);
    padding: 10px 0px 10px 0px;
}

/* Style music links */
td > a {
    color:aqua;
    text-decoration: none;


}

/* Style play buttons on hover */
td > a:hover {
    color:rgb(47, 0, 255);
}

/* Style actor/actress names */
span {
    color:#acd1ac;
    font-style: italic;
    font-size: large;   
}

body {margin-left: auto; margin-right: auto; width: 95%;
background-color:#98aabb; font-size: 1.5vw;}



header {background-color:bisque; height: 100px;}
header> h1 {font-size: 7vw; color:rgb(114, 210, 255); font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-seri; position:relative;
bottom: 50%; right: 0%; display:block; z-index:7;}

/*StickyNav Bar*/

nav a:hover {color: rgb(255, 255, 255);}
nav a {color:rgb(209, 192, 255); text-decoration: none;}
nav ul li {display: inline;
    font-family: sans-serif;
    font-weight: 600;
    background-color:cadetblue;
    border: .5vw double rgb(219, 251, 255);
    border-radius: .8vw;
    font-size: 2vw;
    width: 100%;
    text-align: center;
    padding: .1vw .5vw .1vw .5vw;
    text-decoration: none;}
    /* end Nav Bar */

    /* grid */
    #grid {display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 33% 33% 33%}

    #row1span4 {grid-row: 1/2;
        grid-column: 1/4;}
    #logo_im {float: left; width: 20%;} 
    
    #row2c1 {grid-row: 2/3;
            grid-column: 1/2;}

    #row3c1 {grid-row: 3/4;
            grid-column: 1/2;} 
            
    #row2c2 {grid-row: 2/3;
            grid-column: 2/3;}
            
    #row3c2 {grid-row: 3/4;
            grid-column: 2/3;} 
            
    #row2c3 {grid-row: 2/3;
            grid-column: 3/4;}
            
    #row3c3 {grid-row: 3/4;
            grid-column: 3/4;} 
    /*end grid*/

    #row3c1 {overflow: auto;
        height: 30vh; display: block;
        padding: 0 1vw 0}

    #row3c2 {overflow: auto;
        height: 30vh; display:
        block; padding: 0 1vw 0}

    #row3c3 {overflow: auto;
        height: 30vh; display:
        block; padding: 0 1vw 0}
        
    

#navvbar {
    position:absolute;
    left: 200px;
}

/*Scrollbar*/
* {
    ::-webkit-scrollbar {
      background: #ab9dda;
    }
  
    ::-webkit-scrollbar-thumb {
      background: #aadae9;
      -webkit-border-radius: 1.5ex;
    }
  
    ::-webkit-scrollbar-corner {
      background: #e3d8e4ea;
    }
  }
  

  .ubuntu-condensed-regular {
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  header {
    background-color: #B4B2CC;
}
footer {
    background-color: #8ecacec9;
}
